@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-image: url('https://www.torontopubliclibrary.ca/content/reading-challenge/images/reading-challenge-hero.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
	margin: 0;
	padding: 0;
	height: 100%;
}
.navbar{
	background-color: rgb(85, 252, 149);
	font-family: 'Itim', Times, serif;
	color: white;
} 
.sideMenu {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: rgb(0, 85, 26);
	overflow-x: hidden;
	transition: 0.25s;
	padding-top: 60px;
}
.main-menu h2 {
	text-align: center;
	letter-spacing: 7px;
	color: #fff;
	background: #111;
	padding: 20px 0;
}
.sideMenu a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	color: #fff;
	display: block;
	transition: 0.3s;
	font-size: 18px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: 900;
}
.sideMenu a i {
	padding-right: 15px;
}
.main-menu a:hover {
	color: #f1f1f1;
	background: #111;
}
.sideMenu .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
#content-area {
	transition: margin-left .5s;
	padding: 16px;
}
.content-text {
	padding: 100px 180px;
	text-align: center;
}
.content-text h2 {
	display: inline-block;
	padding: 15px 35px;
	text-transform: uppercase;
	font-size: 50px;
	color: black;
}
.content-text h4 {
	text-transform: uppercase;
	font-size: 50px;
	margin: 0;
	letter-spacing: 3px;
}
.btn-primary{
    margin-left: 20px;
}
.btn-info{
    margin-right: 20px;
}
.container{
    margin-top:10px;
}
.btn:hover{
    color:#fff;
}
.input-text:focus{
    box-shadow: 0px 0px 0px;
    border-color:#f8c146;
    outline: 0px;
}

.form-control {
    border: 1px solid #f8c146;
}
.text-white{
    margin-left: 10px;
}
.logout-btn{
    position: absolute;
    top: 15px;
    right: 15px;
}
.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: transparent;
	padding: 20px;
	text-align: center;
	
}
.items{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;

}
.items li {
    padding-right: 20px; 
}
.contactdetails {
/* Add styles for the content inside the container */
width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Change the last value (0.7) to adjust the translucency (0 to 1) */
    border-radius: 20px;
    text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: large;
 }
 .gcetdetails
 {
	width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Change the last value (0.7) to adjust the translucency (0 to 1) */
    border-radius: 20px;
    text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: large;
 } 
 .projectdetails
 {
	width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Change the last value (0.7) to adjust the translucency (0 to 1) */
    border-radius: 20px;
    text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: large;
 }
#quantity{
	width: 40px;

}